body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}

.rm {
  background: none;
  color: #000;
  font-size: 20px;
  line-height: 15px;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.rm:hover {
  transition: 0.2s;
  color: red;
  border-color: red;
}
.show {
  color: blue;
  margin-right: .4rem;
}
.show:hover {
  color: darkblue;
  border-color: blue;
}
.done {
  text-decoration: line-through;
}
